<h1>Edit Guest Information</h1>
<%= form_for [@user, @property, @guest] do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.submit "Submit" %>
<% end %>