<h1> All guests </h1>

<% @guests.each do |guest| %>
  <p><%= guest.last_name %>, <%= guest.first_name %></p>
  <p><%= link_to "View Information",  user_property_guest_path(@user, @property, guest)%>
  <p><%= link_to "Edit Guest",  edit_user_property_guest_path(@user, @property, guest)%>
<% end %>
  <p><%= link_to "Create New Guest", new_user_property_guest_path %></p>
  <p><%= link_to "Back", user_property_path(@user, @property) %></p>