<h1>Please Update Your Property Information</h1>
<%= form_for [@user, @property] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :street %>
  <%= f.text_field :street %>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :state %>
  <%= f.text_field :state %>
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.submit "Update" %>
<% end %>

<p><%= link_to "Back", user_property_path(@user, @property) %>