<h1>Occupied Rooms</h1>
<p> Guest: <%= @guest.first_name %> <%= @guest.last_name %></p>
<p> Reservation Date: <%= @reservation.date_in %> to <%= @reservation.date_out %></p>

<% @occupied_rooms.each do |occupied_room| %>
  <p><%= link_to occupied_room.room.room_number, user_property_guest_reservation_occupied_room_path(@user, @property, @guest, @reservation, occupied_room) %></p>
<% end %>

<p><%= link_to 'Check Guest In', new_user_property_guest_reservation_occupied_room_path(@user, @property, @guest, @reservation) %></p>
<p><%= link_to 'Back', user_property_guest_reservation_path(@user, @property, @guest, @reservation) %></p>
