<h1>Page of <%= @guest.first_name %> <%= @guest.last_name %></h1>
<h2>Phone Number: <%= @guest.phone_number %></h2>
<h3>Check In: <%= @reservations.date_in %></h3>
<h3>Check Out: <%= @reservations.date_out %></h3>
<p><%= link_to "Check In Page", guest_reservation_occupied_rooms_path(@guest, @reservations) %></p>